LICENSE       text
gradlew       text eol=lf

*.bat         text eol=crlf

*.config      text
*.csv         text
*.properties  text
*.java        text
*.kts         text
*.md          text
*.yml         text

*.jar         binary
